@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/main")

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Something something
            </p>
            <!-- ko if: $data.User !== undefined -->
            <p>hi kaite</p>
            <p data-bind="text: User.fullName()"></p>
            <p>
                <span data-bind="text: User.FirstName"></span>
                <span data-bind="text: User.LastName"></span>
            </p>
            <!-- /ko -->
        </section>
    </div>
</main>